<%- include('head'); -%>
<main>
  <div class="jumbotron">
      <p class="lead"><i class="fa fa-user" aria-hidden="true"></i>
        Google User Info</p>
      <hr class="my-4">
      <p>Email: <%= email  %></p>
      <p>Messages Total: <%= messagesTotal %></p>
  </div>
</main>
<%- include('foot'); -%>
